<div class="container">
    <h1>Create a Container</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Image</th>
            <th>Command</th>
            <th>name</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input class="form-control" ng-model="create.image"></td>
            <td><input class="form-control" ng-model="create.command"></td>
            <td><input class="form-control" ng-model="create.name"></td>
            <td><button class="btn btn-primary" ng-click="createCon()">Add Container</button></td>
        </tr>
        </tbody>
    </table>

</div>
