<br/>
<div class="container">
    <table class="table table-striped" align="center">
        <tbody>
        <tr>
            <td><strong>Containers:</strong></td>
            <td>{{ message.Containers }}</td>
        </tr>
        <tr>
            <td><strong>Images:</strong></td>
            <td>{{ message.Images }}</td>
        </tr>
        <tr>
            <td><strong>Debug:</strong></td>
            <td>{{ message.Debug }}</td>
        </tr>
        <tr>
            <td><strong>CPU's:</strong></td>
            <td>{{ message.NCPU }}</td>
        </tr>
        <tr>
            <td><strong>Total Memory:</strong></td>
            <td>{{ message.MemTotal }}</td>
        </tr>
        <tr>
            <td><strong>IPv4 Forwarding:</strong></td>
            <td>{{ message.IPv4Forwarding }}</td>
        </tr>
        <tr>
            <td><strong>Index Server Address:</strong></td>
            <td>{{ message.IndexServerAddress }}</td>
        </tr>
        <tr>
            <td><strong>Init Path:</strong></td>
            <td>{{ message.InitPath }}</td>
        </tr>
        <tr>
            <td><strong>Docker Root Directory:</strong></td>
            <td>{{ message.DockerRootDir }}</td>
        </tr>
        <tr>
            <td><strong>Init SHA1:</strong></td>
            <td>{{ message.InitSha1 }}</td>
        </tr>
        <tr>
            <td><strong>Memory Limit:</strong></td>
            <td>{{ message.MemoryLimit }}</td>
        </tr>
        <tr>
            <td><strong>Swap Limit:</strong></td>
            <td>{{ message.SwapLimit }}</td>
        </tr>
        <tr>
            <td><strong>Operating System:</strong></td>
            <td>{{ message.OperatingSystem }}</td>
        </tr>
        <tr>
            <td><strong>Kernel Version:</strong></td>
            <td>{{ message.KernelVersion }}</td>
        </tr>
        <tr>
            <td><strong>ID:</strong></td>
            <td>{{ message.ID }}</td>
        </tr>
        <tr>
            <td><strong>Labels:</strong></td>
            <td>{{ message.Labels }}</td>
        </tr>
        <tr>
            <td><strong>File Descriptors:</strong></td>
            <td>{{ message.NFd }}</td>
        </tr>
        <tr>
            <td><strong>Goroutines:</strong></td>
            <td>{{ message.NGoroutines }}</td>
        </tr>
        <tr>
            <td><strong>Storage Driver:</strong></td>
            <td>{{ message.Driver }}</td>
        </tr>
        <tr>
            <td><strong>Storage Driver Status:</strong></td>
            <td>
                <p ng-repeat="val in message.DriverStatus">
                    {{ val[0] }}: {{ val[1] }}
                </p>
            </td>
        </tr>
        <tr>
            <td><strong>Execution Driver:</strong></td>
            <td>{{ message.ExecutionDriver }}</td>
        </tr>
        </tbody>
    </table>
</div>